.button{
    -fx-font: 13px "Serif";
    -fx-padding: 10;
    -fx-background-color: orange;
}

#selectTheme{
	-fx-font: 13px "Serif";
    -fx-padding: 6;
    -fx-background-color: orange;
	
}

#mainTitle{
	    -fx-background-color: orange;
		-fx-font: bold italic 20pt "Serif";
		-fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}