.button{
    -fx-font: 13px "Serif";
    -fx-padding: 10;
    -fx-background-color: orange;
}

#selectTheme{
	-fx-font: 13px "Serif";
    -fx-padding: 10;
    -fx-background-color: orange;
	
}

#mainTitle{
	    -fx-background-color: orange;
}